@model IEnumerable<Hospital.Models.Enfermeiro>

@{
    ViewBag.Title = "AllEnfermeiros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Todos Enfermeiros</h2>

<p>
    @Html.ActionLink("Enfermeiros Activos", "Index", "Enfermeiro", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Enfermeiros Inactivos", "EnfermeiroInactivo", "Enfermeiro", null, new { @class = "btn btn-primary" })
</p>




<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>


        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact)
            </td>
            <td>
                @Html.CheckBoxFor(modelItem => item.Status.Value, new { @disabled = "disabled" })

            </td>


        </tr>
    }

</table>
