@model Hospital.ViewModel.MedicoViewModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>


@using (@Html.BeginForm("SaveDelete", "Medico"))
{
    @Html.ValidationSummary(true, "Resolva os seguintes erros")


    <div class="form-group">
        @Html.LabelFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName, new { @readonly = "readonly", @class = "form-control" })
        @Html.ValidationMessageFor(m => m.FirstName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName, new { @readonly = "readonly", @class = "form-control" })
        @Html.ValidationMessageFor(m => m.LastName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @readonly = "readonly", @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Email)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Contact)
        @Html.TextBoxFor(m => m.Contact, new { @readonly = "readonly", @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Contact)
    </div>



    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">
        Save
    </button>

}
@*@section scripts
    {
       @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")

    }*@
