@model IEnumerable<Hospital.Models.Cama>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cama</h2>

<p>
    @Html.ActionLink("New Prescrição", "New", "Cama", null, new { @class = "btn btn-primary" })

</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.TotalCamas)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Servicos)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.TotalCamas)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Servicos.Nome)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
